body{
    background-color: #1c2331;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-H1{
    color: aliceblue;
    font-family: cursive;
    text-align: center;
}
